.overskrift {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 100px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.Test-knap { 
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 48px;
  padding: 25px;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}


.Test-knap:hover {
  box-shadow: 0px 0px 0px 0px;
  transition: 0.5s;
}

.Test-knap:active {
  background-color: #ffdeda;
}


/* Baggrunden*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(102, 204, 51) 50%, rgb(48, 48, 48) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

/*Animation til baggrunden*/
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


/* DET HER ER BOKSENS KODE*/
.info-box{
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 220px;
  margin-top: 120px;
  display: inline-block;
  object-position: center;
  position: absolute; /* to center the image vertically */
  top: 60%; /* to center the image vertically */
  left: 85%; /* to center the image horizontally */
  transform: translate(-100%, -100%);
  background-color: rgb(255, 250, 250);
  color: rgb(0, 0, 0);
  height:600px;
  width:350px;
  text-align: center;
  border:2px solid;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  line-height: 30px;
}

.info-box:hover{
  border-radius: 50% 50% 50% 50% / 5% 5% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}



rect {
  fill: rgb(30, 68, 106); /* FARVE PÅ HVER BAR */
}

@import url(https://fonts.googleapis.com/css?family=Bangers); /* DET ER TIL BOKSEN INDEN I BOKSEN TEKSTEN

body{
  background:#fff;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

/*LILLE BOKS INDE I BOKS */
.evenboxinner{
  transform: rotate(2deg);
  margin:15px;
  padding:5px;
  float:right;
  background:#ddd;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  font-size: 20px;
}

